In [1]:
from pyspark.sql.types import *
idColumn=StructField("id",StringType(),True)
genderColumn=StructField("gender",StringType(),True)
OccupationColumn=StructField("Occupation",StringType(),True) 
swimTimeInSecondsColumn=StructField("swimTimeInSeconds",DoubleType(),True)

In [2]:
DfColumnList=[idColumn,genderColumn,OccupationColumn,swimTimeInSecondsColumn]

In [4]:
swimmerDfSchema=StructType(DfColumnList)

In [5]:
swimmerDfSchema

In [6]:
swimmerDfSchema

In [7]:
import pandas as pd
lst=['Geeks','for','Geeks','is','portal','for','geeks']
lst_df=pd.DataFrame(lst)

In [8]:
type(lst_df)
lst_df

,0
0,Geeks
1,for
2,Geeks
3,is
4,portal
5,for
6,geeks

In [9]:
lst_df.head(2)

,0
0,Geeks
1,for

In [10]:
lst_df.tail(2)

,0
5,for
6,geeks

In [11]:
import pandas as pd
data={"name":['Tom','nick','krish','josh'],"Age":[23,24,25,26]}
print(type(data))
person_df=pd.DataFrame(data)
print(person_df)
print(type(person_df))
person_df.iloc[3]
temp=person_df.iloc[3,0],person_df.iloc[3,1]
print(temp)
print(type(temp))
print("\n")
print("Example of a Non_Indexed Named Tuple")
print("By DEFAULT all TUPLES are Non Named and Non Indexed")
print("\n")
for row in person_df.itertuples(name='Person',index=False):
# print(row)
  print(type(row))
   print(row.name,row.Age)
  temp=(row.name,row.Age)
   print(row.name)
  print(type(temp))

In [12]:
import pymysql
lst=['Geeks','for','Geeks','is','portal','for','geeks']
lst_df=pd.DataFrame(lst)
print(lst_df)
for row in lst_df.iterrows():
  print(type(row))
for row in lst_df.itertuples(name='Person',index=False):
  print(type(row))
  
data={"name":['Tom','nick','krish','josh'],"Age":[23,24,25,26]}
data_df=pd.DataFrame(data)
print(data_df.columns)
for row in data_df.itertuples():
  print(type(row.name))

In [13]:
from pyspark.sql.types import *
idColumn=StructField("id",StringType(),True)
genderColumn=StructField("gender",StringType(),True)
OccupationColumn=StructField("Occupation",StringType(),True)
swimTimeInSecondColumn=StructField("swimTimeInSecond",DoubleType(),True)

columnList=[idColumn,genderColumn,OccupationColumn,swimTimeInSecondColumn]
swimmerDfSchema=StructType(columnList)
df_swimmers=spark.read.csv('/FileStore/tables/swimmerData.csv',header=True,schema=swimmerDfSchema)
df_swimmers.show(4)
df_swimmers.printSchema()
type(df_swimmers)
df_swimmers.registerTempTable("df_swimmers")
temp=spark.sql("select * from df_swimmers")
print(temp)

swimmer_df=spark.read.csv('/FileStore/tables/swimmerData.csv',header=True,inferSchema=True)
swimmer_df.show(4)
swimmer_df.printSchema()

swimmer_df1=spark.read.csv('/FileStore/tables/swimmerData1.csv',header=True,inferSchema=True,sep='#')
swimmer_df1.show(6)

In [14]:
from pyspark.sql.types import *
corr_df=spark.read.json(path='/FileStore/tables/corrData.json')
corr_df.show(6)
iv1Column=StructField("iv1",DoubleType(),True)
iv2Column=StructField("iv2",DoubleType(),True)
iv3Column=StructField("iv3",DoubleType(),True)

columnList=[iv1Column,iv2Column,iv3Column]
corr_df_schema = StructType(columnList)

corr_df1=spark.read.json(path='/FileStore/tables/corrData.json',schema=corr_df_schema)
corr_df1.printSchema()
corr_df2=spark.read.json(path='/FileStore/tables/corrData.json')
corr_df2.printSchema()

corr_df2.write.csv(path='/FileStore/tables/corr_df4/',header=True)

In [15]:
%sh ls -lrt /FileStore/tables/corr_df2/part-00000-tid-7581461481460486349-34bfd5a0-707d-4458-96f4-78f406e1ec11-63-1-c000.csv

In [16]:
%fs head dbfs:/FileStore/tables/corr_df3/part-00000-tid-1600818275588989250-b0d8c1a6-c7a6-46a1-aa4f-a70b0f7bd4d6-8-1-c000.csv

In [17]:
from pyspark.sql.types import *
idColumn=StructField("id",StringType(),True)
genderColumn=StructField("gender",StringType(),True)
OccupationColumn=StructField("Occupation",StringType(),True)
swimTimeInSecondColumn=StructField("swimTimeInSecond",DoubleType(),True)

columnList=[idColumn,genderColumn,OccupationColumn,swimTimeInSecondColumn]
swimmerDfSchema=StructType(columnList)
df_swimmers=spark.read.csv('/FileStore/tables/swimmerData.csv',header=True,schema=swimmerDfSchema)

# df_swimmers.write.json(path='/FileStore/tables/swimmersJson/')
df_swimmers.write.csv('/FileStore/tables/swimmersDf1/',header=True,sep=',')

In [18]:
%fs head /FileStore/tables/swimmersJson/part-00000-tid-5570975838623073821-876a6066-2da5-414b-bdd3-988dbe5ac678-9-1-c000.json

In [19]:
df_orc_temp=spark.read.orc(path='/FileStore/tables/000000_0')
df_orc_temp.show()
from pyspark.sql.types import *
idColumn=StructField("id",StringType(),True)
genderColumn=StructField("gender",StringType(),True)
OccupationColumn=StructField("Occupation",StringType(),True)
swimTimeInSecondColumn=StructField("swimTimeInSecond",DoubleType(),True)

columnList=[idColumn,genderColumn,OccupationColumn,swimTimeInSecondColumn]
swimmerDfSchema=StructType(columnList)
df_swimmers=spark.read.csv('/FileStore/tables/swimmerData.csv',header=True,schema=swimmerDfSchema)
df_swimmers.show()
# df_swimmers.write.orc(path='/FileStore/tables/duplicateDate/swimmers/')

In [20]:
%sql select * from iv_data_orc;

iv1,iv2,iv3
c1,d2,9.8
c1,d2,8.36
c1,d2,9.06
c1,d2,11.15
c1,d2,6.26
c2,d2,8.74
c2,d1,9.92
c2,d1,12.88
c2,d1,8.16
c2,d1,9.97

In [21]:
from pyspark.sql import Row
our_df=spark.createDataFrame([Row(id=0,value=21),Row(id=1,value=23),Row(id=2,value=24),Row(id=3,value=25)])
our_df.show()
our_df.printSchema()

In [22]:
%sql CREATE TABLE filamenttable(filamenttype String, bulbpower String, lifeinhours float) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' STORED AS TEXTFILE;

In [23]:
%sql 
DROP TABLE IF EXISTS filamenttable;
CREATE TABLE filamenttable(filamenttype String, bulbpower String, lifeinhours float) ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' STORED AS TEXTFILE;
LOAD DATA INPATH '/FileStore/tables/filamentData.csv' OVERWRITE INTO TABLE filamenttable;
SELECT * from filamenttable;
CREATE TABLE filamenttable_orc(filamenttype String, bulbpower String, lifeinhours float) STORED AS orc;
INSERT INTO filamenttable_orc select * from filamenttable

filamenttype,bulbpower,lifeinhours
'filamentA','100W',605.0
'filamentB','100W',683.0
'filamentB','100W',691.0
'filamentB','200W',561.0
'filamentA','200W',530.0
'filamentA','100W',619.0
'filamentB','100W',686.0
'filamentB','200W',600.0
'filamentB','100W',696.0
'filamentA','200W',579.0
'filamentA','200W',520.0
'filamentA','100W',622.0
'filamentA','100W',668.0
'filamentB','200W',569.0
'filamentB','200W',555.0
'filamentA','200W',541.0

In [24]:
filamentDf=spark.table('learning_1.filamenttable')
filamentDf.show()

In [25]:
from pyspark.sql.functions import round;
swimmers_df=spark.read.csv('/FileStore/tables/swimmerData.csv',header=True,inferSchema=True)
swimmers_df.show()
swimmers_df.printSchema()
swimmers_df1=swimmers_df.withColumn('swimmerSpeed',20.0/swimmers_df.swimTimeInSecond)
swimmers_df1.show()
swimmers_df2=swimmers_df1.withColumn('swimmerSpeed',round(swimmers_df1.swimmerSpeed,3))
swimmers_df2.show()

In [26]:

#swimmers_df3=swimmers_df2.select('id','Occupation','swimmerSpeed')
#swimmers_df3.show()
swimmers_df4=swimmers_df2.select('id','Occupation','swimmerSpeed',swimmers_df2.swimmerSpeed*2)
swimmers_df4.show()
swimmers_df4=swimmers_df2.select('id','Occupation','swimmerSpeed',swimmers_df2.swimmerSpeed*2)

In [27]:
#swimmers_df5=swimmers_df2.filter(swimmers_df2.Gender=="Male")
#swimmers_df5.show()
swimmers_df6=swimmers_df2.filter((swimmers_df2.Gender=="Male") & (swimmers_df2.Occupation=="Programmer"))
swimmers_df6.show()

In [28]:
swimmers_df4=swimmers_df2.drop("id","Occupation")
swimmers_df4.show(3)

In [29]:
def celciusToFahrenheit(temp):
 return ((temp*9.0/5.0)+32)

def labelTemperature(temp):
  if temp > 12.9:
    return "High"
  else:
    return "Low"
  
  
celciusToFahrenheit(12.2)

from pyspark.sql.types import *
from pyspark.sql.functions import *
temp=spark.read.parquet('/user/hive/warehouse/learning_1.db/temp_parquet')
temp.show()
udfCelciusToFahrenheit=udf(celciusToFahrenheit,DoubleType())
udfLabelTemperature=udf(labelTemperature,StringType())

temp_2=temp.withColumn('tempInFahrenheit',round(udfCelciusToFahrenheit(temp.tempInCelcius),3))
temp_2.show()
temp_3=temp_2.withColumn('label',udfLabelTemperature(temp_2.tempInCelcius))
temp_3.show()
# temp_2.write.csv('/FileStore/tables/Temp1/',header=True,sep=',')

In [30]:
from pyspark.sql.functions import *
corr_df=spark.read.json(path='/FileStore/tables/corrData.json')
corr_df.show()


# corr_df.withColumn("iv2_avg",corr_df.agg({str(corr_df.iv2):"avg"})).show()
corr_df.agg({"iv1":"max","iv2":"count","iv3":"var_samp"}).show()

corr_df.cov('iv1','iv2')
corr_df.cov('iv1','iv3')
#corr_df.cor(iv1,iv2)
#corr_df.cor('iv1','iv3')
#corr_df.cor('iv3','iv2')

In [31]:



corr_df.cov('iv1','iv3')

In [32]:
corr_df.cov('iv2','iv3')

In [33]:
# corr_df.corr('iv2','iv3')
#corr_df.describe().show()
#corr_df.summary().show()
#corr_df.show()
from pyspark.sql.functions import udf
from pyspark.sql.types import *

def labelIt(temp):
  if temp>10.0:
    return "High"
  else:
    return "Low"
  
udfLabelit=udf(labelIt,StringType())
corr_df1=corr_df.withColumn("label",udfLabelit(corr_df.iv3))
corr_df1.summary(["mean","min","max"]).show()

In [34]:
swimmerdf=spark.read.csv("/FileStore/tables/swimmerData.csv",header=True)
#swimmerdf.printSchema()

#swimmerdf.orderBy("swimTimeInSecond").show()
#swimmerdf.sort("swimTimeInSecond",ascending=False).show()
#swimmerdf.sort("Gender","swimTimeInSecond",ascending=[True,False]).show()
#swimmerdf.orderBy("gender","swimTimeInSecond",ascending=[True,False]).show()


temp=swimmerdf.rdd.getNumPartitions()
#type(temp)
swimmerdf1=swimmerdf.repartition(3)
swimmerdf1.rdd.getNumPartitions()
swimmerdf1.show()
swimmerdf1.rdd.glom().collect()
swimmerdf1.sortWithinPartitions("gender","swimTimeInSecond",ascending=[True,False]).show()

In [35]:
iv_data_2=spark.read.csv('/FileStore/tables/iv_data_2.csv',inferSchema=True)
# iv_data_2.show()
# iv_data_2.count()
# iv_data_2.drop_duplicates().count()

# swimmerdf.show()
# swimmerdf.dropDuplicates().show()
#swimmerdf.dropDuplicates(["Gender","Occupation"]).show()

#iv_data_2.drop_duplicates().show()
#iv_data_2.drop_duplicates(["_c0"]).show()                        
#iv_data_2.drop_duplicates(["_c0","_c1"]).show()                       
iv_data_2.freqItems(cols=["_c0","_c1"]).show()

In [36]:
swimmersdf=spark.read.format("csv").options(header=True,inferSchema=True).load("/FileStore/tables/swimmerData.csv")
#swimmersdf.show()
swimmersdf.show()
# Example of Aggregation
#swimmersdf.filter(swimmersdf.Gender=="Male").agg({"swimTimeInSecond":"max"}).show()
#swimmersdf.filter(swimmersdf.Gender=="Female").agg({"swimTimeInSecond":"max"}).show()
#swimmersdf.filter(swimmersdf.Gender=="Male").agg({"swimTimeInSecond":"min"}).show()
#swimmersdf.filter(swimmersdf.Gender=="Female").agg({"swimTimeInSecond":"min"}).show()

# Find Male Swimmers who took more time (Sorted by most swimTime taken)
#swimmersdf.filter(swimmersdf.Gender=="Male").sort("Occupation","swimTimeInSecond",ascending=[True,False]).show()
# Find Female Swimmers who took more time (Sorted by most swimTime taken)
swimmersdf.filter(swimmersdf.Gender=="Female").sort("Occupation","swimTimeInSecond",ascending=[True,False]).show()
# Find Male Swimmers who took least time (sort by least swimTime taken)
#swimmersdf.filter(swimmersdf.Gender=="Male").sort("Occupation","swimTimeInSecond",ascending=[True,False]).show()
# Find Female Swimmers who took least time (Sort by least swimTime taken)
#swimmersdf.filter(swimmersdf.Gender=="Female".sort("Occupation","swimTimeInSecond",ascending=[True,False]).show()

In [37]:
UCBAdmissions=spark.read.format("csv").options(header=True).load('/FileStore/tables/UCBAdmissions.csv')
#UCBAdmissions.printSchema()
from pyspark.sql.functions import *
UCBAdmission_1=UCBAdmissions.select("Admit","Gender","Dept","Freq")
UCBAdmission_1.registerTempTable("UCBAdmission_1")
UCBAdmission_2=spark.sql("SELECT Admit,Gender, Dept,int(Freq) as Freq from UCBAdmission_1")

#UCBAdmissions.printSchema()
#UCBAdmissions.filter(UCBAdmissions.Gender=="Male").agg({"Freq":"mean"}).show() 
#UCBAdmissions.show() 
#temp=UCBAdmissions.groupBy(['Admit']).agg({"Freq":"mean"})
#temp.show()
#temp1=UCBAdmissions.groupBy(['Admit','Gender']).agg({"Freq":"mean"})
# temp1.columns=['Admit','Gender','Avg.Freq']
#temp1.show()
from pyspark.sql.types import *
from pyspark.sql.functions import *
#UCBAdmission_2.groupBy(['Admit']).agg({"Freq.toInt()":"avg"}).show()
#UCBAdmission_2.groupBy(['Admit','Gender']).agg({"Freq":"avg"}).show()
#UCBAdmission_2.groupBy(['Admit','Gender']).agg({"Freq":"min"}).show()
#swimmersdf=spark.read.format("csv").options(header=True,inferSchema=True).load("/FileStore/tables/swimmerData.csv").select("Occupation","Gender")
spark.read.format("csv").options(header=True,inferSchema=True).load("/FileStore/tables/swimmerData.csv").show()
#swimmersdf.crosstab("Gender","Occupation").show()

#temp1=spark.sql("SELECT Admit,Gender, min(int(Freq)) as MIN_Freq,max(int(Freq)) as MAX_Freq from UCBAdmission_1 group by Admit,Gender")
#temp1.show()
#UCBAdmission_2.show()



#  UCBAdmission_1.select("Admit","Gender",int("Freq")).groupBy(['Admit','Gender']).agg({"Freq":"min"}).show()



#UCBAdmission_1.show()
# UCBAdmission_1.groupBy(['Admit','Gender']).agg({"Freq":"max"}).show()

##UCBAdmission_1.filter((UCBAdmission_1.Admit=="Admitted") & (UCBAdmission_1.Gender=="Female")).agg({"Freq":"max"}).show() # ADMITTED FEMALE correct
#UCBAdmission_1.filter((UCBAdmission_1.Admit=="Admitted") & (UCBAdmission_1.Gender=="Male")).agg({"Freq":"max"}).alias("Admitted Male").show()   # ADMITTED MALE correct
#UCBAdmission_1.filter((UCBAdmission_1.Admit=="Rejected") & (UCBAdmission_1.Gender=="Female")).agg({"Freq":"max"}).show()  # REJECTED FEMALE  correct
#UCBAdmission_1.filter((UCBAdmission_1.Admit=="Rejected") & (UCBAdmission_1.Gender=="Male")).agg({"Freq":"max"}).show()    # REJECTED MALE     correct

In [38]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
subjects=spark.read.csv("/FileStore/tables/Subjects_1.csv",header=True)
student=spark.read.csv("/FileStore/tables/studentData_dateofbirth.csv",header=True)
attendance=spark.read.csv("/FileStore/tables/attendance.csv",header=True)
attendance.printSchema()
subjects.printSchema()
student.printSchema()
attendance.createOrReplaceTempView("attendance")
subjects.createOrReplaceTempView("subjects")
student.createOrReplaceTempView("students")
def genderCode(gender):
	return ('MALE' if gender=='M' else 'FEMALE' if gender=='F' else 'NA')

spark.udf.register('genderCode',genderCode,StringType())	
spark.sql("SELECT st.name,genderCode(st.gender) as gender,to_date(st.dateofbirth) as dob,sb.marks,sb.subject,at.attendance FROM students st \
          INNER JOIN subjects sb \
          on st.studentId=sb.studentId \
          INNER JOIN attendance at  \
          on st.studentId=at.studentId AND  \
             sb.subject=at.subject").show()

In [39]:
dfOne=spark.read.format("csv").options(header=True,inferSchema=True).load('/FileStore/tables/dfOne.csv')
dfTwo=spark.read.format("csv").options(header=True,inferSchema=True).load('/FileStore/tables/dfTwo.csv')
# dfOne.printSchema()
# dfTwo.printSchema()
dfOne.show()
dfTwo.show()
dfOne.union(dfTwo).show()

In [40]:
from pyspark.sql.functions import monotonically_increasing_id
dfOne=spark.read.format("csv").options(header=True,inferSchema=True).load("/FileStore/tables/dfOne.csv")
dfTwo=spark.read.csv('/FileStore/tables/dfTwo.csv',header=True,inferSchema=True)
dfOne_with_id=dfOne.withColumn('id',monotonically_increasing_id())
dfOne_with_id.show()

dfTwo_with_id=dfTwo.withColumn('id',monotonically_increasing_id())
dfTwo_with_id.show()
a=dfOne_with_id.alias('dfOne_with_id')
b=dfTwo_with_id.alias('dfTwo_with_id')
a.join(b,a.id==b.id,"inner").show()
dfOne_with_id.alias('a').join(dfTwo_with_id.alias('b'),a.id==b.id,"inner").drop('id').show()

In [41]:
from pyspark.sql.functions import monotonically_increasing_id
#missingDf=spark.read.csv('/FileStore/tables/dfAmput.csv',header=True,inferSchema=True).withColumn('id',monotonically_increasing_id())
#missingDf.show()
#missingDf.fillna(value=0).show()										  
#spark.tableName()
from pyspark import SQLContext
sqlcontext=SQLContext(sc)

studentsdf=spark.read.csv('/FileStore/tables/students.csv',header=True,inferSchema=True)
studentsdf.createOrReplaceTempView('students')
sqlcontext.tableNames()
spark.sql("select * from students").show()

In [42]:
from pyspark.sql.types import *
students=spark.read.csv('/FileStore/tables/studentData.csv',header=True,inferSchema=True)
students.show()
StudentIDColumn=StructField("StudentID",StringType(),True)
NameColumn=StructField("Name",StringType(),True)
GenderColumn=StructField("Gender",StringType(),True)
columnList=[StudentIDColumn,NameColumn,GenderColumn]
students_schema=StructType(columnList)
students_new=spark.createDataFrame(students.rdd,schema=students_schema)
students_new.show()

In [43]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
corr_data=spark.read.format("json").options(header=True,inferSchema=True).load('/FileStore/tables/corrData.json')
#corr_data.show()                                
#corr_data.filter(corr_data.iv3 >= 10).show()

def getDataType(value):
  return str(type(value))

getDataTypeudf=udf(getDataType,StringType())

corr_data.select("iv1").withColumn("DataType",getDataTypeudf(corr_data.iv1)).show()

#corr_data.select("iv1").withColumn("Datatype",str(type("corr_data.iv1"))).show()






temp=spark.read.csv('/FileStore/tables/temp2_.csv',header=True,inferSchema=True)
temp.registerTempTable("temp")
temp1=spark.sql("select count(*) from temp")
type(temp1)

In [44]:
from pyspark.sql.types import * 
from pyspark.sql.functions import *
from pyspark import SQLContext

sqlcontext=SQLContext(sc)


studentDf=spark.read.csv("/FileStore/tables/studentData.csv",header=True)
print(type(studentDf))
studentDf.printSchema()

studentDf.createOrReplaceTempView("studentDf")
#for i in sqlcontext.tableNames():
 # print(i)
  
spark.sql("SELECT * FROM studentDf").show()
#spark.sql("DESCRIBE studentDf").show()
#spark.sql("SELECT name,gender from studentDf").show()
#spark.sql("SELECT name as Name, gender as Sex from studentDf").show()
spark.sql("SELECT name as Name, gender as Sec, StudentId as StudentID from studentDf where gender==\"M\"").show()

In [45]:
from pyspark.sql.types import *
from pyspark.sql.functions import * 

# CREATING FUNCTION
def tempInFahrenheit(temp):
	return (temp*(9/5))

# CREATING UDF TO BE USED IN 
spark.udf.register("udfTempInFahrenheit",tempInFahrenheit,DoubleType())
spark.udf.register("udfTempInFahrenheitAlt",lambda s:(s*(9/5)),DoubleType())

# SCHEMA COLUMN DEFINITION
dayColumn=StructField("Day",StringType(), True)
tempInCelciusColumn=StructField("TempInCelcius",DoubleType(), True)


# COLUMN_LIST
columnList=[dayColumn,tempInCelciusColumn]

# SCHEMA DEFINITION
tempSchema=StructType(columnList)

temp=spark.read.csv("/FileStore/tables/tempratureData.csv",schema=tempSchema)
temp.createOrReplaceTempView("temp")
spark.sql("SELECT Day,TempInCelcius,udfTempInFahrenheit(TempInCelcius) as TempInCelcius from temp").show()
spark.sql("SELECT Day,TempInCelcius,udfTempInFahrenheitAlt(TempInCelcius) as TempInCelcius from temp").show()

In [46]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
# from datetime import *
student=spark.read.format("csv").options(header=True,inferSchema=True).load("/FileStore/tables/studentData_dateofbirth.csv")
student.printSchema()
'''
student.createOrReplaceTempView("student")
student_df1=spark.sql("SELECT studentId,name,gender,to_date(dateofbirth) as dob from student")
student_df1.show()
student_df1.createOrReplaceTempView("student_df1")
spark.sql("select studentId,name,gender,dayofmonth(dob),month(dob),year(dob) from student_df1").show()
'''
student.select("studentId","name","gender",to_date("dateofbirth").alias("dob"),
               dayofmonth(to_date("dateofbirth")).alias("day_of_month"),
                month(to_date("dateofbirth")).alias("month"),
                year(to_date("dateofbirth")).alias("year")
              ).show()

#def genderCode(gender):
#  if(gender=="M"):
#    return "Male"
#  elif (gender=="F"):
#    return "Female"
  
def genderCode(gender):
  return ('FEMALE' if gender=='F' else 'MALE' if gender=='M' else 'NA')
  

spark.udf.register("genderCode",genderCode,StringType())
spark.sql("SELECT studentId,name,to_date(dateofbirth) as dob,genderCode(gender) as Gender from student").show()

In [47]:
subjects=spark.read.csv("/FileStore/tables/Subjects_1.csv",header=True)
student=spark.read.csv("/FileStore/tables/studentData_dateofbirth.csv",header=True)
subjects.printSchema()
student.printSchema()
subjects.createOrReplaceTempView("subjects")
student.createOrReplaceTempView("students")
spark.sql("SELECT st.studentId,st.name,st.gender,st.dateofbirth,sb.marks from students st  JOIN  subjects sb ON st.studentId=sb.studentId").show()
spark.sql("SELECT st.studentId,st.name,st.gender,st.dateofbirth,sb.marks from students st LEFT  JOIN subjects sb ON st.studentId=sb.studentId").show()
spark.sql("SELECT st.studentId,st.name,st.gender,st.dateofbirth,sb.marks from students st RIGHT  JOIN subjects sb ON st.studentId=sb.studentId").show()
spark.sql("SELECT st.studentId,st.name,st.gender,st.dateofbirth,sb.marks from students st FULL  JOIN subjects sb ON st.studentId=sb.studentId").show()

In [48]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
subjects=spark.read.csv("/FileStore/tables/Subjects_1.csv",header=True)
student=spark.read.csv("/FileStore/tables/studentData_dateofbirth.csv",header=True)
attendance=spark.read.csv("/FileStore/tables/attendance.csv",header=True)
print("First Record: {0} , Total Count: {1}".format(subjects.first(),subjects.count()))

#subjects.first()
attendance.printSchema()
subjects.printSchema()
student.printSchema()
attendance.createOrReplaceTempView("attendance")
subjects.createOrReplaceTempView("subjects")
student.createOrReplaceTempView("students")
def genderCode(gender):
	return ('MALE' if gender=='M' else 'FEMALE' if gender=='F' else 'NA')

spark.udf.register('genderCode',genderCode,StringType())	
spark.sql("SELECT st.name,genderCode(st.gender) as gender,to_date(st.dateofbirth) as dob,sb.marks,sb.subject,at.attendance FROM students st \
          INNER JOIN subjects sb \
          on st.studentId=sb.studentId \
          INNER JOIN attendance at  \
          on st.studentId=at.studentId AND  \
             sb.subject=at.subject").show()

In [49]:
print(attendance.rdd.getNumPartitions())
attendance.coalesce(2)
attendance.rdd.glom().collect()f

In [50]:
#CREATING DATAFRAME FROM LIST
l=[("alice","30")]
print(spark.createDataFrame(l).collect())

#CREATING DATAFRAME FROM DICTIONARY
d=[{"name":"Alice","age":30},{"name":"Ram","age":32}]
print(spark.createDataFrame(d).collect())

#CREATING DATAFRAME FROM RDD
rdd=sc.parallelize([{"name":"Ram","age":32,"sex":"M"},{"name":"Tamy","age":35,"sex":"F"},{"name":"Angel","age":34,"sex":"F"}])
print(spark.createDataFrame(rdd).collect())

# Generating Sequence of Numbers
print(spark.range(3).collect())

# Generating Sequence of Number using an interval (In the below example, we are using an Interval of 2)
# range(start,end,step,numOfPartitions)
print(spark.range(1,7,2,3).collect())

In [51]:
from pyspark.sql.functions import udf
from pyspark.sql.types import *
from pyspark.sql.window import Window
student=spark.read.csv("/FileStore/tables/studentData_dateofbirth.csv",header=True)
student.show()
subjects=spark.read.csv("/FileStore/tables/Subjects_1.csv",header=True)
attendance=spark.read.csv("/FileStore/tables/attendance.csv",header=True)
student.printSchema()
subjects.printSchema()
student.createOrReplaceTempView("student")
subjects.createOrReplaceTempView("subjects")
attendance.createOrReplaceTempView("attendance")
# COMPUTING AVG - MARKS BY STUDENT - NAME
spark.sql("SELECT st.name,avg(sb.marks) as avg_marks FROM student st INNER JOIN subjects sb ON st.studentId=sb.studentId group by st.name").show()
# COMPUTING AVG - MARKS BY STUDENT - NAME, SUBJECT
spark.sql("SELECT st.name,sb.subject,avg(sb.marks) as avg_marks FROM student st INNER JOIN subjects sb ON st.studentId=sb.studentId group by st.name,sb.subject").show()
# FINDING NUMBER OF STUDENTS PER SUBJECT
spark.sql("select sb.subject,count(st.name) Students_count from subjects sb INNER JOIN student st on (st.studentId = sb.studentId) group by sb.subject").show()
# FINDING NUMBER OF SUBJECTS PER STUDENT 
spark.sql("select st.name,COUNT(sb.subject) FROM student st INNER JOIN subjects sb ON st.studentId=sb.studentId group by st.name").show()

# OTHER USER DEFINED AGGREGATE FUNCTIONS AVAILABLE FOR USE IN SPARK - sum(), count(), min(), max(), avg(),countDistinct()
# As the UDFs and UDAFs would be run in JVMs, the data needs to be serialized before passing it to the JVM. So there could be significant Performance Impact when these functions are incorrectly used.

# APPLYING WINDOW FUNCTIONS USING SPARK_SQL:
# Applying RANK function to get RANK()
# FIND STUDENT SCORING FIRST and SECOND in each of the SUBJECTS
print("STudents Scoring First and Second by each subject")
spark.sql("select tmp.subject,tmp.name,tmp.marks FROM (SELECT sb.subject,st.name,sb.marks,RANK() OVER(PARTITION BY sb.subject ORDER BY sb.marks DESC) as rank FROM student st JOIN subjects sb on st.studentId=sb.studentId) tmp where rank <=2").show()

# RANK STUDENTS BY HIGHEST SCORE IN EACH SUBJECT
spark.sql("select st.name,sb.subject,sb.marks,RANK() OVER(PARTITION BY sb.subject ORDER BY sb.marks DESC) as rank FROM student st INNER JOIN subjects sb ON st.studentId=sb.studentId").show()

# FIND STUDENTS WHOSE SCORE IS MORE THAN THE AVERAGE SCORE 
print("Students whose Score is more than the Average Score for a given Subject")
spark.sql("select name,subject,marks FROM (select st.name,sb.subject,sb.marks, avg(sb.marks) OVER(PARTITION by sb.subject) as avg_score FROM  student st JOIN subjects sb ON st.studentId=sb.studentId)tmp where marks >= avg_score").show()

In [52]:
# Checking if a given Character is a Vowel. If Vowel, function would return 1 else it would return 0
def vowelCheckFunction(char):
  vowels=['a','e','i','o','u']
  if char in vowels:
    return 1
  else:
    return 0


rdd=sc.parallelize(['b','d','m','t','e','u'],2)
rdd2=rdd.map(lambda x:(x,vowelCheckFunction(x)))
print(rdd2.collect())
  
print(rdd2.keys().collect()) # Retrieving Keys from RDD
print(rdd2.values().collect()) # Retrieving Values from RDD


# Aggregating Data within RDD:
# Mean Life in Hours by FilamentType
# Mean Life in Hours by Bulb Power
# Mean Life in Hours by FilamentType and Bulb Power
filDataSingle=[['filamentA','100W',605],
['filamentB','100W',683],
['filamentB','100W',691],
['filamentB','200W',561],
['filamentA','200W',530],
['filamentA','100W',619],
['filamentB','100W',686],
['filamentB','200W',600],
['filamentB','100W',696],
['filamentA','200W',579],
['filamentA','200W',520],
['filamentA','100W',622],
['filamentA','100W',668],
['filamentB','200W',569],
['filamentB','200W',555],
['filamentA','200W',541]]
filDataRdd=sc.parallelize(filDataSingle,2)
print(filDataRdd.count())
filDataRdd.take(3)
filDataPairedRDD1=filDataRdd.map(lambda x:(x[0],x[2]))
print(filDataPairedRDD1.count())
print("\nGet Num of Partitions:{0}".format(filDataPairedRDD1.getNumPartitions()))
for i in filDataPairedRDD1.collect():
  print(i)
print("\nCompute Mean Life in Hours by Filament Type")
filDataPairedRDD11=filDataPairedRDD1.map(lambda x:(x[0],(x[1],1)))
filDataPairedRDD11.take(2)
filDataPairedRDD12=filDataPairedRDD11.reduceByKey(lambda l1,l2:(l1[0]+l2[0],l1[1]+l2[1]))
Mean_By_Filament_Type=filDataPairedRDD12.map(lambda l:(l[0],(float(l[1][0]/l[1][1])),l[1][1]))
for i in Mean_By_Filament_Type.collect():
  print(i)

print("\nCompute Mean Life in Hours by Bulb Power")
filDataPairRDD2=filDataRdd.map(lambda x:(x[1],x[2]))
filDataPairRDD21=filDataPairRDD2.map(lambda x:(x[0],(x[1],1)))
filDataPairRDD22=filDataPairRDD21.reduceByKey(lambda x,y:(x[0]+y[0],x[1]+y[1]))
Mean_Life_By_Bulb_Power=filDataPairRDD22.map(lambda x:(x[0],(float(x[1][0]/x[1][1]),x[1][1])))
for i in Mean_Life_By_Bulb_Power.collect():
  print(i)

print("\nCompute Mean Life in Hours by Bulb Power and Filament Type")
filDataPairRDD3=filDataRdd.map(lambda x:((x[0],x[1]),x[2]))
filDataPairRDD31=filDataPairRDD3.map(lambda x:(x[0],(x[1],1)))
filDataPairRDD32=filDataPairRDD31.reduceByKey(lambda x,y:(x[0]+y[0],x[1]+y[1]))
Mean_Life_By_BulbPower_And_FilamenType=filDataPairRDD32.map(lambda x:(x[0],(float(x[1][0]/x[1][1]),x[1][1])))
for i in Mean_Life_By_BulbPower_And_FilamenType.collect():
  print(i)

In [53]:
from pyspark.sql.types import * 
from pyspark.sql.functions import *
from datetime import *
students=spark.read.csv("/FileStore/tables/studentData_dateofbirth.csv",header=True)
subjects=spark.read.csv("/FileStore/tables/Subjects_1.csv",header=True)
spark.sql("DROP table students_cached")
spark.sql("DROP table subjects_cached")
spark.sql("cache table students_cached as select * from students")
spark.sql("cache table subjects_cached as select * from subjects")
val1=datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
print("Time Taken before cached query execution: {0}".format(val1))
spark.sql("select st.name,st.gender,st.dateofbirth,sb.subject,sb.marks from students_cached st join subjects_cached sb on st.studentId=sb.studentId").show()
val2=datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
print("Time Taken after cached query execution: {0}".format(val2))
#print("Time taken:{0}-{1}:{2}".format(val2,val2,(val2-val1)))
val1=datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
print("Time Taken before non-cached query execution: {0}".format(val1))
spark.sql("select st.name,st.gender,st.dateofbirth,sb.subject,sb.marks from students st join subjects sb on st.studentId=sb.studentId").show()
val2=datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")
print("Time Taken after non-cached query execution: {0}".format(val2))
#print("Time taken:{0}-{1}:{2}".format(val2,val2,(val2-val1)))

In [54]:
from pyspark.sql.types import * 
from pyspark.sql.functions import *
students=spark.read.csv("/FileStore/tables/studentData_dateofbirth.csv",header=True)
subjects=spark.read.csv("/FileStore/tables/Subjects_1.csv",header=True)
students.createOrReplaceTempView("students")
subjects.createOrReplaceTempView("subjects")
print("Using DISTRIBUTE BY and SORT BY clauses")
students_dist_sort=spark.sql("select * from students distribute by studentId SORT BY studentId")
subjects_dist_sort=spark.sql("select * from subjects distribute by studentId SORT BY studentId")
students_dist_sort.createOrReplaceTempView("students_dist_sort")
subjects_dist_sort.createOrReplaceTempView("subjects_dist_sort")
spark.sql("select st.name, st.gender,st.dateofbirth,sb.subject,sb.marks from students_dist_sort st join subjects_dist_sort sb on st.studentId=sb.studentId").show()
print("Using Cluster By")
students_clust=spark.sql("select * from students cluster by studentId")
subjects_clust=spark.sql("select * from subjects cluster by studentId")
students_clust.createOrReplaceTempView("students_clust")
subjects_clust.createOrReplaceTempView("subjects_clust")
spark.sql("select st.name,st.gender,st.dateofbirth,sb.subject,sb.marks from students_clust st join subjects_clust sb ON st.studentId=sb.studentId").show()

In [55]:


students=spark.read.csv("/FileStore/tables/studentData_dateofbirth.csv",header=True)
subjects=spark.read.csv("/FileStore/tables/Subjects_1.csv",header=True)
# converting DataFrames to RDD
students_rdd=students.rdd.map(lambda x:(x[0],(x[1],x[2]))).repartition(2)
subjects_rdd=subjects.rdd.map(lambda y:(y[0],y[1])).repartition(2)
print(students_rdd.take(2))
print(subjects_rdd.take(2))
# Performing INNER JOIN 
print("\n Performing Inner Join against RDDs")
for i in students_rdd.join(subjects_rdd).collect():
  print(i)
print("\n Performing Left Outer Join between RDDs")  
for i in students_rdd.leftOuterJoin(subjects_rdd).collect():
  print(i)
print("\n Performing Right Outer Join between RDDs")
for i in students_rdd.rightOuterJoin(subjects_rdd).collect():
  print(i)
print("\n Performing Outer Join between RDDs")
for i in students_rdd.fullOuterJoin(subjects_rdd).collect():
  print(i)

In [56]:
def rankContribution(uri,rank):
	numberOfUris =len(uri)
	rankContribution=float(rank)/numberOfUris 
	newrank=[]
	for uri_1 in uri:
		newrank.append((uri_1,rankContribution))
	return newrank
# Our function rankContribution will return the contribution to page rankfor the list or URIs (first variable) 			

page_links=[('a',('b','c','d')),('b',('d','e')),('c',('b')),('d',('a','c'))]
pageLinksRDD=sc.parallelize(page_links,2)
pageRankRDD=pageLinksRDD.map(lambda x:(x[0],1),2)
print(pageRankRDD.take(2))
numIter=20
s=0.85
for i in range(numIter):
  pageLinks=pageLinksRDD.join(pageRankRDD)
  contributedRDD=pageLinks.map(lambda x:rankContribution(x[1][0],x[1][1]))
  sumRanks=contributedRDD.reduceByKey(lambda x,y:x+y)
  pageRanksRDD=sumRanks.map(lambda x:(x[0],(1-s)+s*x[1]))
print(pageRanksRDD.collect())

In [57]:
filamentData=sc.textFile("/FileStore/tables/filamentData.csv",2)

In [58]:
def f(iterator): yield sum(iterator)
rdd = sc.parallelize([1, 2, 3, 4], 2)
rdd.mapPartitions(f).collect()

In [59]:
testDF =sqlContext.createDataFrame([(1,"111"), (2,"111"), (3,"222"), (4,"222"), (5,"222"), (6,"111"), (7,"333"), (8,"444")], ["id", "d_id"])
testDF.schema
testDF.show()

In [60]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

def amount_spent(quantity,price):
  return quantity*price

customer_name=StructField("cutomer_name",StringType(),True)
date=StructField("date",StringType(),True)
category=StructField("category",StringType(),True)
product_name=StructField("product_name",StringType(),True)
quantity=StructField("quantity",IntegerType(),True)
price=StructField("price",DoubleType(),True)
columnList=[customer_name,date,category,product_name,quantity,price]
customerSchema=StructType(columnList)

customersRDD = sc.parallelize([("Geoffrey", "2016-04-22", "A", "apples", 1, 50.00),
("Geoffrey", "2016-05-03", "B", "Lamp", 2, 38.00),
("Geoffrey", "2016-05-03", "D", "Solar Pannel", 1, 29.00),
("Geoffrey", "2016-05-03", "A", "apples", 3, 50.00),
("Geoffrey", "2016-05-03", "C", "Rice", 5, 15.00),
("Geoffrey", "2016-06-05", "A", "apples", 5, 50.00),
("Geoffrey", "2016-06-05", "A", "bananas", 5, 55.00),
("Geoffrey", "2016-06-15", "Y", "Motor skate", 7, 68.00),
("Geoffrey", "2016-06-15", "E", "Book: The noose", 1, 125.00),
("Yann", "2016-04-22", "B", "Lamp", 1, 38.00),
("Yann", "2016-05-03", "Y", "Motor skate", 1, 68.00),
("Yann", "2016-05-03", "D", "Recycle bin", 5, 27.00),
("Yann", "2016-05-03", "C", "Rice", 15, 15.00),
("Yann", "2016-04-02", "A", "bananas", 3, 55.00),
("Yann", "2016-04-02", "B", "Lamp", 2, 38.00),
("Yann", "2016-04-03", "E", "Book: Crime and Punishment", 5, 100.00),
("Yann", "2016-04-13", "E", "Book: The noose", 5, 125.00),
("Yann", "2016-04-27", "D", "Solar Pannel", 5, 29.00),
("Yann", "2016-05-27", "D", "Recycle bin", 5, 27.00),
("Yann", "2016-05-27", "A", "bananas", 3, 55.00),
("Yann", "2016-05-01", "Y", "Motor skate", 1, 68.00),
("Yann", "2016-06-07", "Z", "space ship", 1, 227.00),
("Yoshua", "2016-02-07", "Z", "space ship", 2, 227.00),
("Yoshua", "2016-02-14", "A", "bananas", 9, 55.00),
("Yoshua", "2016-02-14", "B", "Lamp", 2, 38.00),
("Yoshua", "2016-02-14", "A", "apples", 10, 55.00),
("Yoshua", "2016-03-07", "Z", "space ship", 5, 227.00),
("Yoshua", "2016-04-07", "Y", "Motor skate", 4, 68.00),
("Yoshua", "2016-04-07", "D", "Recycle bin", 5, 27.00),
("Yoshua", "2016-04-07", "C", "Rice", 5, 15.00),
("Yoshua", "2016-04-07", "A", "bananas", 9, 55.00),
("Jurgen", "2016-05-01", "Z", "space ship", 1, 227.00),
("Jurgen", "2016-05-01", "A", "bananas", 5, 55.00),
("Jurgen", "2016-05-08", "A", "bananas", 5, 55.00),
("Jurgen", "2016-05-08", "Y", "Motor skate", 1, 68.00),
("Jurgen", "2016-06-05", "A", "bananas", 5, 55.00),
("Jurgen", "2016-06-05", "C", "Rice", 5, 15.00),
("Jurgen", "2016-06-05", "Y", "Motor skate", 2, 68.00),
("Jurgen", "2016-06-05", "D", "Recycle bin", 5, 27.00),
])
#toDF(["customer_name", "date", "category", "product_name", "quantity", "price"])

customerDF=spark.createDataFrame(customersRDD,schema=customerSchema)
customerDF.show()
customerDF.createOrReplaceTempView("customers")

assert(spark.sql("select * from customers where dayofweek(cast(date) as date)==1").count()==0)
amount_spent_udf=udf(amount_spent,DoubleType())
customerDF_02=customerDF.withColumn("amount_spent",amount_spent_udf(customerDF.quantity,customerDF.price))

# What is the cumulative sum of spending of each customer throughout time

In [61]:
from pyspark.sql.types import *
from datetime import *
df1 = sqlContext.createDataFrame([("11/25/1991","11/24/1991","11/30/1991"), 
                            ("11/25/1391","11/24/1992","11/30/1992")], schema=['first', 'second', 'third'])
def castDate(date):
  dates=[]
  dates.append(datetime.strptime(date.first,'%m/%d/%Y').strftime("%Y-%m-%d"))
  dates.append(datetime.strptime(date.second,'%m/%d/%Y').strftime("%Y-%m-%d"))
  dates.append(datetime.strptime(date.third,'%m/%d/%Y').strftime("%Y-%m-%d"))
  return dates

castDateUDF=udf(castDate,DateType())
rdd1=df1.rdd.map(lambda x:castDate(x)).flatMap(lambda x:x)
rdd1_list=rdd1.collect()
schema=StructType([StructField("date_col",DateType(),True)])

#df2=spark.createDataFrame(rdd1_list,schema)
#df2.show()

In [62]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("spark://sparkmaster:7077") \
    .appName("My Spark Application") \
    .config("spark.submit.deployMode", "client") \
    .getOrCreate()
numlines = spark.sparkContext.textFile("/FileStore/tables/UCBAdmissions.csv") \
    .count()
print("The total number of lines is " + str(numlines))

In [63]:

myconf=sc._conf
for i in myconf.getAll():
  if "master" in str(i):
    print(i)

In [64]:
locwtemps = sc.parallelize(['Hayward,71|69|71|71|72',
                            'Baumholder,46|42|40|37|39',
                            'Alexandria,50|48|51|53|44',
                            'Melbourne,88|101|85|77|74'],numSlices=4)
# locwtemps.map(lambda x:x.split(',')).mapValues(lambda x:x.split('|')).map(lambda x:(x[0],[int(y) for y in x[1]])).map(lambda x:(x[0],(sum(x[1])/len(x[1])))).collect()
#locwtemps.map(lambda x:x.split(',')).flatMapValues(lambda x:x.split('|')).map(lambda x:(x[0],int(x[1]))).collect()
#locwtemps.map(lambda x:x.split(',')).mapValues(lambda x:x.split('|')).flatMapValues(lambda x:[int(y) for y in x]).map(lambda x:(x[0],(x[1],1))).foldByKey((0,0),lambda x,y:((x[0]+y[0]),(x[1]+y[1]))).map(lambda x:(x[0],float(x[1][0])/float(x[1][1]))).collect()
#locwtemps.map(lambda x:x.split(',')).flatMapValues(lambda x:x.split('|')).mapValues(lambda x:int(x)).foldByKey(200,lambda x,y:y if x > y else x).collect()
#groupByKey().collect()

#locwtemps.map(lambda x:x.split(',')).mapValues(lambda x:x.split('|')).flatMapValues(lambda x:[int(y) for y in x]).groupByKey().mapValues(lambda x:float(sum(x))/float(len(x))).collect()

locwtemps.map(lambda x:x.split(',')).flatMapValues(lambda x:x.split('|')).mapValues(lambda x:int(x)).foldByKey(0,lambda x,y: x if x > y else y).map(lambda x:(x[1],x[0])).sortByKey(ascending=False).map(lambda x:(x[1],x[0])).collect()
#flatMapValues(lambda x:[int(y) for y in x])

In [65]:
import re
doc=sc.textFile("/FileStore/tables/shakespearePlays.txt",4)
#doc.collect()
# REMOVE EMPTY LINES FROM THE FILE
# USING WHITESPACE AS DELIMITER SPLIT LINES IN THE FILE
doc1=doc.filter(lambda x:len(x)>0) \
   .flatMap(lambda line:line.split(' ')) \
   .map(lambda x:(len(x),x)) \
   .sortByKey(ascending=False) \
   .map(lambda word:(word[1],word[0])) 
doc2=sc.parallelize(doc1.take(5))
doc2.collect()
   
doc2.saveAsTextFile("/FileStore/tables/counts/ShakespearePlays3/")

In [66]:
stores = sc.parallelize([(100, 'Boca Raton'),
                         (101, 'Columbia'),
                         (102, 'Cambridge'),
                         (103, 'Naperville')])
# stores schema (store_id, store_location)
salespeople = sc.parallelize([(1, 'Henry', 100),
                              (2, 'Karen', 100),
                              (3, 'Paul', 101),
                              (4, 'Jimmy', 102),
                              (5, 'Janice', None)])
# salespeople schema (salesperson_id, salesperson_name, store_id)
salespeople.keyBy(lambda x:(x[2])) \
           .leftOuterJoin(stores) \
           .filter(lambda x:(x[1][1] is None)) \
           .map(lambda x: ("SalesPerson "+ str(x[1][0][1]) +" has no store allocated")) \
           .collect()


#print(stores.collect())
#print(salespeople.collect())

In [67]:
File uploaded to /FileStore/tables/status.csv
 File uploaded to /FileStore/tables/weather.csv
 File uploaded to /FileStore/tables/stations.csv
 File uploaded to /FileStore/tables/trips.csv
  Objective: you will use this data to return the average number of bikes available by the hour for one week (February 22 to February 28) for stations located in the San Jose area only

In [68]:
stations=sc.textFile("/FileStore/tables/stations.csv")

print(sc.textFile("/FileStore/tables/status.csv").take(2))
station_status=sc.textFile("/FileStore/tables/status.csv",30) \
           .map(lambda x:x.split(',')) \
         .map(lambda x:(x[0],x[1],x[2],x[3].replace('"',''))) \
         .map(lambda x:(x[0],x[1],x[2],x[3].split('-'))) \
         .map(lambda x:(x[0],x[1],x[2],int(x[3][0]),str(x[3][1]),x[3][2].split(' '))) \
         .map(lambda x:(x[0],x[1],x[2],x[3],x[4],int(x[5][0]),x[5][1].split(':')))
         
# File Station Data only for the required location 
stations_sanJose=stations.map(lambda x:x.split(',')) \
                         .filter(lambda x:('san jose' in x[1].lower() or 'san jose' in x[5].lower()))

# Extract station_id's pertaining to San_Jose Location into a List
stations_id_sanJose=stations_sanJose.map(lambda x:x[0]).distinct().collect()

#Filter station status data only for Required Dates (22nd Feb 2015 to 28th Feb 2015)
station_status_1=station_status.filter(lambda x:(x[3]==2015 and x[4]=='02' and x[5]>=22 and x[5]<=28))

# Filter station status data for only San Jose Location
station_status_2=station_status_1.filter(lambda x:x[1] in stations_id_sanJose)

# Extract only station_id, available_bikes, hour from station_status RDD
stations_status_3=station_status_2.map(lambda x:(x[0],(x[2],x[6][0])))
# Extract only station_id, station_name from station RDD
station_sanJose_3=stations_sanJose.map(lambda x:(x[0],(x[1])))

result=stations_status_3.join(station_sanJose_3)

result.map(lambda x:(x[1][0][0],x[1][0][1])) \
            .mapValues(lambda x:(x,1))  \
            .reduceByKey(lambda x,y:(int(x[0])+int(y[0]),int(x[1])+int(y[1]))) \
            .map(lambda x:(round((x[1][0]/x[1][1]),2),x[0])) \
            .sortByKey(ascending=False) \
            .map(lambda x:(x[1],x[0])).collect()

In [69]:
cities1 = sc.parallelize([('Hayward',(37.668819,-122.080795)),
                          ('Baumholder',(49.6489,7.3975)),
                          ('Alexandria',(38.820450,-77.050552)),
                          ('Melbourne', (37.663712,144.844788))])
cities2 = sc.parallelize([('Boulder Creek',(64.0708333,-148.2236111)),
                          ('Hayward',(37.668819,-122.080795)),
                          ('Alexandria',(38.820450,-77.050552)),
                          ('Arlington', (38.878337,-77.100703))])
#cities1.collect()
#cities2.collect()
print(cities1.subtractByKey(cities2).collect())
print(cities2.subtractByKey(cities1).collect())

In [70]:
# Reading Data from stations.csv file
with open("/dbfs/FileStore/tables/stations.csv",'r') as fileObj:
  record=fileObj.read().split('\n')

# Extracting Station_ID and Station_Name from station dataset 
station_detail=dict[]
for i in record:
  if len(i)>0:
    data=i.split(',')
    station_id=int(data[0])
    station_name=data[5]
    id_name=(station_id,station_name)
    station_detail.append({station_id:station_name)

# Loading Data to Broadcast Variable
station_detail_bd=sc.broadcast(station_detail)

station_status=sc.textFile("/FileStore/tables/status.csv")
station_status.take(2)

# Find Stations in each City which has more number of available bikes 
# Find Stations in each City which has least number of available bikes 
station_status_1=station_status.map(lambda x:x.split(','))\
              .map(lambda x:(x[0],x[1],x[2],x[3].replace('"','').split('-'))) \
              .map(lambda x:(int(x[0]),int(x[1]),int(x[2]),int(x[3][0]),int(x[3][1]),x[3][2].split(' '))) \
              .map(lambda x:(x[0],x[1],x[2],x[3],x[4],int(x[5][0]),x[5][1].split(','))) \
              .map(lambda x:(x[0],x[1],x[2],x[3],x[4],x[5],str(x[6]).replace('[','').replace(']','').replace('\"','').replace("\'",'').split(':'))) \
              .map(lambda x:(x[0],x[1],x[2],x[3],x[4],x[5],int(x[6][0]),int(x[6][1]),int(x[6][2])))
# Filter Station_ID, Available Bikes, Available Docks
station_status_2=station_status_1.map(lambda x:(x[0],(x[2],x[1])))
#print(station_status_2.take(4))
# SCHEMA
# station_detail_bd=[station_id,station_name]
# station_status_1=[station_ID,available bikes,available docks]
#for i in station_detail_bd.value:
#  print(i)



#for i in station_detail_bd.value:
#  print(i[1])
x=10
print(getLocation(10))
def getLocation(x):
  for i in station_detail_bd.value:
      print("\n -{0}".format(i[0]))
      print("\n -{1}".format(x))
      if (int(i[0])==int(x)):
        print("Within Function")
        val=i[1]
      else:
        val=-1
  return val
# station_status_1.take(2)
#station_status_2.map(lambda x:(x[1][0],x[0])).take(10)
#station_status_2.map(lambda x:(x[1][0],getLocation(x[0]))).take(10)

In [71]:
# Reading Data from stations.csv file into RDD
with open("/dbfs/FileStore/tables/stations.csv",'r') as fileObj:
  record=fileObj.read().split('\n')

# Extracting Station_ID and Station_Name from station dataset 
station_detail=dict()
for i in record:
  if len(i)>0:
    data=i.split(',')
    station_id=int(data[0])
    station_name=data[5]
    id_name=(station_id,station_name)
    station_detail.update({station_id:station_name})
print(type(station_detail))
station_detail_bd=sc.broadcast(station_detail)

# Read Data from Station Status File into RDD
station_status=sc.textFile("FileStore/tables/status.csv")
station_status_1=station_status.map(lambda x:x.split(','))                 \
              .map(lambda x:(int(x[0]),int(x[1]),int(x[2]),x[3].replace("\"",'').replace('\'','').split('-')))       \
              .map(lambda x:(x[0],x[1],x[2],int(x[3][0]),int(x[3][1]),int(x[3][2].split(' ')[0]),x[3][2].split(' ')[1]))      \
              .map(lambda x:(x[0],x[1],x[2],x[3],x[4],x[5],int(x[6].split(':')[0]),int(x[6].split(':')[1]),int(x[6].split(':')[2])))
              
station=station_detail_bd.value
print(type(station))
# Read Only one Month's Data (FEB_22 to FEB_28 2015)
station_status_2=station_status_1.filter(lambda x:(x[3]==2015 and x[4]==2 and x[5]>=22 and x[5]<=28))
print(station_status_2.take(2))
# station_Name, Time,Available_Bikes
#station_status_2.map(lambda x:(x[0],x[1])).take(4)
station_status_2.map(lambda x:((station[x[0]],x[6]),x[2])).mapValues(lambda x:(x,1)).reduceByKey(lambda x,y:((x[0]+y[0]),(x[1]+y[1]))) \
                .mapValues(lambda x:round((float(x[0]/x[1])),2)) \
                .map(lambda x:(x[1],x[0]))   \
                .sortByKey(ascending=True)   \
                .map(lambda x:(x[1],x[0]))    \
                .take(100)

In [72]:
counter=sc.accumulator(0)
def incr(x):
  global counter
  counter+=1
  x+=1
  return x
sc.range(1,11).map(lambda x:incr(x)).collect()
print("Total Number of records processed: {0}".format(str(counter.value)))

In [73]:
from pyspark import SparkContext,SparkConf
conf=SparkConf()
conf.set("spark.default.parallelism","5")
# sc=SparkContext(conf=conf)
stations_statusRDD=sc.textFile("/FileStore/tables/status.csv",10)
print(stations_statusRDD.count())
print(stations_statusRDD.getNumPartitions())
print(stations_statusRDD.take(2))

stations_statusRDD_2=stations_statusRDD.map(lambda x:x.split(',')).map(lambda x:(x[0],(x[2],x[1])))
stations_statusRDD_2.reduceByKey(lambda x,y:((int(x[0])+int(y[0])),(int(x[1])+int(y[1])))).take(2)
print(stations_statusRDD_2.getNumPartitions())

In [74]:
nums1=[-1,-2]
nums2=[3]

nums=[]
        
for i in nums1:
    nums.append(i)
for j in nums2:
    nums.append(j)
    temp=0
        
print("Length of nums:{0}".format(len(nums)))
for i in nums:
  print(i)
for i in range(0,len(nums)-1):
    for j in range(i+1,len(nums)-1):
        if nums[i] >= nums[j]:
            temp=nums[i]
            nums[i]=nums[j]
            nums[j]=temp
            print("nums[i]={0},nums[j]={1}".format(nums[i],nums[j]))
                    
len_nums=len(nums)
print("Printing Elements of the list")        
for i in nums:
    print(i)