In [1]:
7**4

In [2]:
s = "Hi there Sam!"
temp=s.split( )
print(temp)

In [3]:
planet = "Earth"
diameter = 12742
print("The diameter of {0} is {1} kilometers.".format(planet,diameter))

In [4]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

d['k1'][3]['tricky'][3]['target'][3]

In [6]:
def func(email):
  return email.split('@')[-1]

email='user@domain.com'
print(func(email))

In [7]:
def checkDogExistence(name):
  return "dog" in name.lower()
 
print(checkDogExistence('Is there a dog here?'))

In [8]:
def dogcount(name):
  count=0
  for i in name.lower().split():
    if i == 'dog':
      count+=1
  return count

print(dogcount('This dog runs faster than the other dog dude!'))

In [9]:
def speedingTicket(speed,isBirthday):
  if isBirthday:
    if int(speed) <= 65:
         result='No Ticket'
    elif int(speed) >=66 and int(speed) <=85:
         result='Small Ticket'
    elif int(speed) >85:
         result='Big Ticket'
  else:
    if int(speed) <= 60:
      result='No ticket'
    elif int(speed) >=61 and int(speed) <=80:
      result='Small ticket'
    elif int(speed) > 80:
      result='Big Ticket'
  return result
    
print(speedingTicket('81',False))

In [10]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Basics").getOrCreate()
print(spark)

In [11]:
df=spark.read.csv("/FileStore/tables/sales_info.csv",inferSchema=True,header=True)
print(df.printSchema())
print(df.show())

print(df.groupBy("Company").agg({"Sales":"max"}).show())
print(df.groupBy("Company").count().show())
print(df.groupBy("Company").max().show())
print(df.groupBy("Company").min().show())
print(df.groupBy("Company").sum().show())
print(df.groupBy("Company").avg().show())

In [12]:
from pyspark.sql.functions import *
df.select(avg('Sales')).show()
print(df.select(countDistinct('Company')).show())
#print(df.agg({'Company':'countDistinct'}).show())

print(df.select(stddev('Sales')).show())
print(df.select(mean('Sales')).show())
print(df.select(avg('Sales')).show())

In [13]:
# No GroupBy. Just perform aggregation function based out of a Single Column
df.agg({'Sales':'max'}).show()
print(df.agg({'Sales':'min'}).show())
print(df.agg({'Sales':'max'}).show())
print(df.agg({'Sales':'sum'}).show())
print(df.agg({'Sales':'avg'}).show())
print(df.agg({'Sales':'count'}).show())

In [14]:
from pyspark.sql.functions import format_number


df.orderBy('Sales',ascending=False).show()

In [15]:
# Handling Missing Values in Python

from pyspark.sql import SparkSession

df_with_null=spark.read.csv("/FileStore/tables/ContainsNull.csv",inferSchema=True,header=True)
df_with_null.show()

# Dropping Records with 'any' nulls
print(df_with_null.na.drop().show())
print(df_with_null.na.drop(how='any').show())
# Dropping Records with 'all' nulls
print(df_with_null.na.drop(how='all').show())

# Dropping Records with atleast n columns having values as null
print(df_with_null.na.drop(thresh=1).show())

print(df_with_null.dropna(subset=['sales']).show())

In [16]:
df_with_null.fillna('FILL VALUE').show()
# Identifies all character columns in the DataFrame df_with_null and if any of the identified columns has a NULL value in it, It is replaced with 'FILL VALUE'

df_with_null.fillna(0).show()
# Identifies all numeric columns in the DataFrame df_with_null and if any of the identified columns has a NULL value in it, It is replaced with 0

print(df_with_null.fillna('No Name',['Name']).show())
mean_sales=df_with_null.select(avg('Sales')).collect()[0][0]
print(mean_sales)
print(df_with_null.fillna(mean_sales,subset=['Sales']).show())

In [17]:
import requests
resp=requests.get("https://raw.githubusercontent.com/jubins/Spark-And-MLlib-Projects/master/Spark_DataFrame_API_Project/appl_stock.csv")
#print(str(resp.content))

with open("/dbfs/FileStore/tables/appl_stock.csv","w") as file_rw_obj:
  file_rw_obj.write(str(resp.content).replace('\\n','\n').replace("b'",""))

stock=spark.read.csv("/FileStore/tables/appl_stock.csv",header=True,inferSchema=True,sep=',')  
print(stock.printSchema())

print(stock.show(10))

In [18]:
from pyspark.sql import SparkSession
from pyspark.context import SparkContext

spark=SparkSession.builder.appName("walmart").getOrCreate()
walmart_df=spark.read.csv("/FileStore/tables/walmart_stock.csv",inferSchema=True,header=True)
print(walmart_df.columns)
print(walmart_df.printSchema())

In [19]:
walmart_df.select(walmart_df.columns[0:5]).show()

In [20]:
from pyspark.sql.types import *
from pyspark.sql.functions import format_number
summary=walmart_df.describe()
print(walmart_df.columns)
print(walmart_df.printSchema())

print(summary.show())

print(summary.select('summary',format_number(summary['Open'].cast('double'),2)).show())
summary.createOrReplaceTempView("summary")
spark.sql("select summary,round(CAST(Open as float),2) as Open, \
                          round(CAST(High as float),2) as High,  \
                          round(CAST(Low as float),2) as Low, \
                          round(CAST(Close as float),2) as Close, \
                          round(CAST(Volume as float),2) as Volume, \
                          round(CAST(`Adj Close` as float),2) as `Adj Close` from summary").show()



"""
summary.select(summary['summary'], \
                 format_number(summary['Open'].cast('float'),2)), \
                 format_number(summary['High'])
            
  """

In [21]:
#walmart_df.withColumn('HV Ratio',walmart_df['High']/walmart_df['Volume']).select(['HV Ratio']).show()
# What day had the Peak High in Price?
from pyspark.sql.functions import *
#walmart_df.show()

#walmart_df.groupBy('Date').agg({'High':'max'}).orderBy('max(High)',ascending=False).head(1)[0][0]
walmart_df.orderBy('Date',ascending=False).select('Date').head(1)[0][0]
walmart_df.createOrReplaceTempView("walmart_tbl")
spark.sql("select Date from walmart_tbl where High in (select max(High) from walmart_tbl)").show()

In [22]:
print(walmart_df.agg({'Close':'avg'}).show())
print(walmart_df.agg({'Close':'mean'}).show())
walmart_df.agg({'Volume':'max','Volume':'min'}).show()
print(walmart_df.select(min(walmart_df['Volume']),max(walmart_df['Volume'])).show())

from pyspark.sql.functions import max, min
print(walmart_df.select(max('Volume'),min('Volume')).show())

#How many days was the Close lower than 60 dollars?
walmart_df.where(walmart_df['Close'] < 60).count()

# What percentage of the time was the High greater than 80 dollars ?
percentage=(walmart_df.where(walmart_df['High'] > 80).count()/walmart_df.count())*100
print("percentage:{0}".format(percentage))

# Pearsson Co-efficient
print('Pearsson Co-efficient: {0}'.format(walmart_df.corr('High','Volume')))

In [23]:
#What is the max High per year?
from pyspark.sql.functions import year,month
print("Max High Per Year")
walmart_df.select(year(walmart_df['Date']).alias('Year'),'High').groupBy('Year').agg({'High':'max'}).show()
#walmart_df.withColumn('Year',year(walmart_df['Date'])).groupBy('Year').agg({'High':'max'}).show()

#What is the average Close for each Calendar Month?¶
#print('Average Close Per calender Month')
#print(walmart_df.withColumn('Month',month(walmart_df['Date'])).groupBy('Month').agg({'Close':'avg'}).orderBy('Month').show())